.box {
    display: flex;
    background-color: #c4c7ca;
    justify-content: center;
    padding: 70px;
}

body {
    background-color: #c4c7ca;
}

.unauthorized {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, .75);
    width: 300px;
    text-align: center;
    padding: 30px;
}

.goBackBtn {
    background-color: #2e81f4;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
}