.signin {
    display: flex;
    background-color: #c4c7ca;
    justify-content: center;
    padding: 70px;
}

body {
    background-color: #c4c7ca;
}

.loginBox {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, .75);
    width: 300px;
    text-align: center;
    padding: 30px;
}

.loginBox>h1 {
    padding-bottom: 20px;
}

.name {
    padding: 10px;
}

.name>input {
    text-align: center;
    background-color: #eff2f5;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.password {
    padding: 10px;
}

.password>input {
    text-align: center;
    background-color: #eff2f5;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.loginBtn {
    background-color: #2e81f4;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
    cursor: pointer;
}

.registerlink {
    border: 1px solid #2e81f4;
    background-color: #2e81f4;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

.checkbox {
    margin-bottom: 20px;
}